.resume {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Public Sans", "Public Sans Placeholder", sans-serif;
  }
/* button  */
.buttonresume {
  background-color: transparent;
  color: #333;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: inline-block;
  text-align: center;
  font-weight: 500;
}

.buttonresume:hover {
  background-color: #f5f5f5;
  transform: scale(1.01);
}

.buttonresume:active {
  transform: scale(0.98);
}

.buttonresume-outline {
  background-color: transparent;
  color: #333;
  border: 1px solid #d1d1d1;
}

.buttonresume-outline:hover {
  background-color: #f5f5f5;
  color: #333;
}

#nav{
    margin-bottom: -15px;
  }
  #resume1{
    padding-left: 150px;
    font-size: 30px;
    font-weight: 600;
  }
  .resumepad{
    font-family: "Public Sans", "Public Sans Placeholder", sans-serif;
    display: flex;
    margin-top: 0;
    background-color: #F6F6F8;
    padding: 30px 69px   30px 0px;
    justify-content: right;
    gap: 65%;
  }
  .content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
  }
  #flexbox {
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 13%;
    margin-left: 13%;
  }
  #flexbox > div {
    display: flex;
    flex-grow: 1;
    background-color: white;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    flex-direction: column;
    text-align: left;
  }
  .paragraph1{
    width: 90%;
    font-size: 20px;
    line-height: 26px;
    color: rgb(110, 110, 115);
  }
  .paragraph2{
    margin-bottom: -30px;
    margin-top: -40px;
    padding-left: 25%;
    width: 50%;
    font-size: 20px;
    line-height: 26px;
    color: rgb(110, 110, 115);
  }
/* side nav bar */ 
.side-nav1 {
  position: fixed;
  top: 15%;
  right:0;
  width: 40px;
  background-color: #F6F6F8;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 100;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
 
.side-nav1:hover {
  width: 65px;
  background-color: #F6F6F8;
}
     
.nav-item1 {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  padding: 15px 20px;
  color: #F6F6F8;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item1:hover {
  mix-blend-mode: normal;
}

img {
  height: 20px;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.side-nav1:hover img {
  opacity: 1;
}